:root {
  --oui-font-family: 'Open Sans', sans-serif;
  --oui-font-size-base: 14.5px;

  /* colors */
  --oui-color-primary: 232 114 74;
  --oui-color-primary-light: 232 138 104;
  --oui-color-primary-darken: 190 90 60;
  --oui-color-primary-contrast: 231 113 73;

  --oui-color-link: 232 114 74;
  --oui-color-link-light: 232 138 104;

  --oui-color-secondary: 232 114 74;
  --oui-color-tertiary: 232 114 74;
  --oui-color-quaternary: 220 100 60;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 28 24 39;
  --oui-color-fill-active: 32 38 50;

  --oui-color-base-1: 45 35 30;
  --oui-color-base-2: 40 30 25;
  --oui-color-base-3: 35 28 22;
  --oui-color-base-4: 30 25 18;
  --oui-color-base-5: 25 20 15;
  --oui-color-base-6: 22 18 14;
  --oui-color-base-7: 18 15 12;
  --oui-color-base-8: 16 13 10;
  --oui-color-base-9: 14 12 9;
  --oui-color-base-10: 12 10 8;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 232 114 74;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 190 90 60;
  --oui-gradient-primary-end: 232 114 74;

  --oui-gradient-secondary-start: 180 80 50;
  --oui-gradient-secondary-end: 232 114 74;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 232 114 74;
  --oui-gradient-brand-end: 190 90 60;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14.5px !important;
}

.orderly-app-container,
.orderly-app-container *,
.orderly-app-container *::before,
.orderly-app-container *::after {
  font-family: 'Open Sans', sans-serif !important;
}
